<%%= form_for <%= item_path :instance_variable => true %> do |f| %>
  <%%= f.error_messages %>
<%- for attribute in model_attributes -%>
  <div class="field">
    <%%= f.label :<%= attribute.name %> %>
     <% if attribute.reference? %>
    <%%= f.collection_select :<%= attribute.name %>, <%= attribute.name.camelize %>.all, :id, :name %>
    <% else %>
    <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
    <% end %>
  </div>
<%- end -%>
  <div class="actions"><%%= f.submit %></div>
<%% end %>
